In [136]:
!pip install BeautifulSoup4
!pip install lxml
!pip install requests

Requirement already satisfied: BeautifulSoup4 in c:\programdata\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in c:\programdata\anaconda3\lib\site-packages (from BeautifulSoup4) (1.9.5)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.0.4)

In [137]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\programdata\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib) (1.14.0)

### Library declaration

In [138]:
import requests
from bs4 import BeautifulSoup
import lxml
import html5lib
import os
import numpy as np
import pandas as pd

### Wikipedia url path declaration along with the BeautifulSoup api call for reading the html file

In [139]:
url_path = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url_path).text
data = BeautifulSoup(source, "html.parser")

#### Table column name assignment

In [141]:
table=data.find('table')
column_names=['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns=column_names)

#### pulling the table column names and the column values based on the tr and td findings

In [142]:
for tr in table.find_all('tr'):
    url_data=[]
    for td in tr.find_all('td'):
        url_data.append(td.text.strip())
    if len(url_data)==3:
        df.loc[len(df)] = url_data
        df.head()

#### Ignoring rows with a borough that is Not assigned

In [143]:
df_tor=df[(df['Borough']!='Not assigned')]

In [144]:
df_tor[df_tor['Borough']!=0]

    Postalcode           Borough              Neighborhood
2          M3A        North York                 Parkwoods
3          M4A        North York          Victoria Village
4          M5A  Downtown Toronto              Harbourfront
5          M6A        North York          Lawrence Heights
6          M6A        North York            Lawrence Manor
..         ...               ...                       ...
281        M8Z         Etobicoke  Kingsway Park South West
282        M8Z         Etobicoke                 Mimico NW
283        M8Z         Etobicoke        The Queensway West
284        M8Z         Etobicoke     Royal York South West
285        M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

#### Grouping More than one neighborhood in one postal code area

In [150]:
df_tor = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [151]:
def neighbor_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))

In [152]:
grp = df_tor.groupby(['Postalcode', 'Borough'])
df2 = grp.apply(neighbor_list).reset_index(name='Neighborhood')
df2.rename(columns={'Postalcode':'Postal Code'}, inplace=True)
df2.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

#### printing the number of rows of the dataframe

In [155]:
df2.shape

(103, 3)